<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notificaciones vendedor - Re-Estrena</title>
  <link rel="stylesheet" href="site.css">
</head>

<body class="body-notificaciones">
  <header>
    <div class="header-bar">
      <img src="logo.png" alt="Logo Re-Estrena" class="logo">
      <h1>RE-ESTRENA</h1>
      <nav class="menu-bar">
        <a href='@Url.Action("VerPaginaPrincipal", "Account")'>Comprar</a>
        <a href='@Url.Action("subirPublicacion", "Post")'><img src="plus_icon.png" alt="Subir" title="Subir publicación"></a>
        <a href='@Url.Action("VerCarrito", "Purchase")'><img src="cart_icon.png" alt="Carrito" title="Carrito"></a>
        <a href='@Url.Action("VerUsuario", "Account")'><img src="user_icon.png" alt="Usuario" title="Perfil usuario"></a>
        <a href='@Url.Action("VerNotificaciones", "Account")'><img src="bell_icon.png" alt="Notificaciones" title="Notificaciones"></a>
        <a href='@Url.Action("VerMensajes", "Account")'><img src="msg_icon.png" alt="Mensajes" title="Mensajes"></a>
        <a href='@Url.Action("cerrarSesion", "OnBoarding")'><img src="logout_icon.png" alt="Cerrar sesión" title="Cerrar sesión"></a>
      </nav>
    </div>
  </header>

  <main>
  <section>
    <h2>Notificaciones</h2>
    <ul>
      @if(ViewBag.Notificaciones != null)
      {
        foreach(var notif in ViewBag.Notificaciones)
        {
          <li>
            <div>
              <p>@notif.Mensaje</p>
              <p>@notif.Fecha.ToString("dd/MM")</p>
            </div>
          </li>
        }
      }
      else
      {
        <li>No hay notificaciones.</li>
      }
    </ul>
  </section>
</main>

</body>

</html>