<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notificaciones vendedor - Re-Estrena</title>
  <link rel="stylesheet" href="estilo.css">
</head>

<body class="body-notificaciones">
 <header class="main-header">
        <div>
            <a href="@Url.Action("VerPaginaPrincipalC", "Account")">
                <img src="~/imagenes/logo.png" alt="Logo Re-Estrena">
                <h1>Re-Estrena</h1>
            </a>
            <nav>
                <a href='@Url.Action("VerPaginaPrincipalV", "Account")'>Vender</a>
                <a href='@Url.Action("VerCarrito", "Purchase")'><img src="cart_icon.png" alt="Carrito" title="Carrito"></a>
                <a href='@Url.Action("VerUsuarioC", "Account")'><img src="user_icon.png" alt="Usuario" title="Perfil usuario"></a>
                <a href='@Url.Action("VerNotificaciones", "Account")'><img src="bell_icon.png" alt="Notificaciones" title="Notificaciones"></a>
                <a href='@Url.Action("VerMensajes", "Account")'><img src="msg_icon.png" alt="Mensajes" title="Mensajes"></a>
            </nav>
        </div>
    </header>

  <main>
  <section>
    <h2>Notificaciones</h2>
    <ul>
      @if(ViewBag.Notificaciones != null)
      {
        foreach(var notif in ViewBag.Notificaciones)
        {
          <li>
            <div>
              <p>@notif.Mensaje</p>
              <p>@notif.Fecha.ToString("dd/MM")</p>
            </div>
          </li>
        }
      }
      else
      {
        <li>No hay notificaciones.</li>
      }
    </ul>
  </section>
</main>

</body>

</html>