@{
    ViewData["Title"] = "Re-Estrena - Perfil Vendedor";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <div>
            <a href="@Url.Action("VerPaginaPrincipalV", "Account")">
                <img src="~/imagenes/logo.png" alt="Logo Re-Estrena">
                <h1>Re-Estrena</h1>
            </a>
            <nav>
                <ul>
                    <li><a href='@Url.Action("VerPaginaPrincipalC", "Account")' onclick="validar(this)">Comprar</a></li>
                    <li><a href='@Url.Action("subirPublicacion", "Post")'><img src="~/imagenes/mas.png" alt="Subir" title="Subir"></a></li>
                    <li><a href='@Url.Action("VerPaginaPrincipalV", "Account")'><img src="~/imagenes/perfil.png" alt="Usuario" title="Usuario"></a></li>
                    <li><a href='@Url.Action("VerNotificacionesV", "Account")'><img src="~/imagenes/campana.png" alt="Notificaciones" title="Notificaciones"></a></li>
                    <li><a href='@Url.Action("VerMensajesV", "Account")'><img src="~/imagenes/mensaje.png" alt="Mensajes" title="Mensajes"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="userPerfil">

        <div class="fotoU">
            @{
                if(ViewBag.Usuario.Foto != null)
                {
                    <img src="@ViewBag.Usuario.Foto" alt="@ViewBag.Usuario.Foto">
                }
                else
                {
                    <button type="button">Subir foto</button>
                }
            }
           
        </div>
        <div class="infoU">
            @{
            if (ViewBag.Usuario != null)
            {
                <h2>@ViewBag.Usuario.NombreCompleto</h2>
                <p>@ViewBag.Usuario.NombreUsuario</p>
                <p>@ViewBag.Usuario.Descripcion</p>
            }
            else
            {
                <p>Error: Información de usuario no disponible.</p>
            }
            }
        </div>




    </section>


        <section class="userLista">
            <h3>Tus publicaciones</h3>


            <div>
                @{
                    if (ViewBag.PublicacionesPropias != null && ViewBag.PublicacionesPropias.Count > 0)
                    {
                        <section class="productos-grid">
                        @foreach (var publicacion in ViewBag.PublicacionesPropias)
                        {
                            <div class="producto">
                            <h3>@publicacion.NombreProducto</h3>
                            <form method="post" action='@Url.Action("eliminarPublicacion", "Post")'> 
                                <input type="hidden" name="id" value="@publicacion.IdPublicacion" />
                                <button type="submit">
                                    <img src="~/imagenes/tacho.png" alt="eliminar">
                                </button>
                            </form>
                            <div class="productoIMG">
                            <img src="~/imagenes/@publicacion.Foto" alt="@publicacion.NombreProducto">
                            </div>
                            <p>@publicacion.Descripcion</p>
                            <div class="tagPrecio">
                                <p class="etiquetas-placeholder" id="etiquetas-@publicacion.IdPublicacion">...</p>
                                <p class="precio"> $@publicacion.Precio</p>
                            </div>
                            <a href='@Url.Action("editarPublicacion", "Post", new { id = publicacion.IdPublicacion })'>Editar publicacion</a>
                        </div>
                        }  
                        </section>
                    }
                    else
                    {
                        <p>Aún no tienes publicaciones. ¡Crea tu primera publicación!</p>
                    }
                }
            </div>
        </section>
        <section class="cerrarSesion">
            <form asp-action="cerrarSesion" asp-controller="OnBoarding" method="post">
                <button type="submit">Cerrar sesión</button>
            </form>
        </section>
        @if(ViewBag.ErrorMessage != null)
        {
            <p>@ViewBag.ErrorMessage</p>
        }
        <script asp-src-include="~/js/site.js"></script>
    </main>
</body>
</html>


