<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Estrena - Usuario</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>

<main>

    <section class="UsuarioC-Perfil">

        <div>
            <button type="button">Subir foto</button>
        </div>

        <div>
            <h2>@ViewBag.Usuario.NombreCompleto</h2>
            <p>@ViewBag.Usuario.Descripcion</p>

            <form action='@Url.Action("Formulario", "Account")' method="POST" enctype="multipart/form-data">
                <textarea name="Descripcion" rows="10" cols="50" placeholder="Descripcion del usuario"></textarea>
                <button type="submit">Editar</button>
            </form>
        </div>

    </section>

    <section class="UsuarioC-Lista">
    <h3>Favoritas:</h3>

    <ul>
        @if (ViewBag.Favoritos != null)
        {
            foreach (var pub in ViewBag.Favoritos)
            {
                <li>
                    <h4>@pub.NombreProducto</h4>
                    <p>@pub.Descripcion</p>
                    <p><small>@pub.Etiquetas</small></p>
                    <p><b>@pub.Precio</b></p>
                </li>
            }
        }
        else
        {
            <li>No tenés favoritos todavía.</li>
        }
    </ul>
</section>

    <section>
        <form asp-action="cerrarSesion" asp-controller="OnBoarding" method="post">
            <button type="submit">Cerrar sesión</button>
        </form>
    </section>

</main>

</body>