@{
    ViewData["Title"] = "Ver Publicacion";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <div>
            <a href='@Url.Action("VerPaginaPrincipalC", "Account")'>
                <img src="~/imagenes/logo.png" alt="Logo Re-Estrena">
                <h1>Re-Estrena</h1>
            </a>
            <nav>
                <ul>
                    <li><a href='@Url.Action("VerPaginaPrincipalV", "Account")' onclick="validar(this)">Vender</a></li>
                    <li><a href='@Url.Action("VerCarrito", "Purchase")'><img src="~/imagenes/carrito.png" alt="Carrito" title="Carrito"></a></li>
                    <li><a href='@Url.Action("VerUsuarioC", "Account")'><img src="~/imagenes/perfil.png" alt="Usuario" title="Perfil usuario"></a></li>
                    <li><a href='@Url.Action("VerNotificaciones", "Account")'><img src="~/imagenes/campana.png" alt="Notificaciones" title="Notificaciones"></a></li>
                    <li><a href='@Url.Action("VerMensajes", "Account")'><img src="~/imagenes/mensaje.png" alt="Mensajes" title="Mensajes"></a></li>
                </ul>
            </nav>
           
        </div>
    </header>
    <main>
        <section class="unaPublicacion">
            <form method="post" action='@Url.Action("likear", "Account", new { idPublicacion = ViewBag.Publicacion.IdPublicacion })' class="emoji">
                    <input type="hidden" name="idPublicacion" value="ViewBag.Publicacion.IdPublicacion" />
                    <button type="submit"><img src="~/imagenes/corazon.png" alt="likear"></button>
            </form>   
            <form action="/Purchase/agregarAlCarrito" method="post" enctype="multipart/form-data" class="todo">
                <div class="fotoPub">
                    <img src="@ViewBag.Publicacion.Foto" alt="@ViewBag.Publicacion.NombreProducto">
                </div>
                <div class="infoPub">
                    <h3>@ViewBag.Publicacion.NombreProducto</h3>
                    <p>@ViewBag.Publicacion.Descripcion</p>
                </div>
                <div class="etiquetasPub">
                    @{
                        foreach(Etiqueta etiquetas in @ViewBag.Etiquetas)
                        {
                            <p>#@etiquetas.Nombre</p>
                        }
                    }
                </div>
                <div class="precioPub">
                    <p>Precio: @ViewBag.Publicacion.Precio</p>
                </div>
                <input type="hidden" name="idProducto" value="@ViewBag.Publicacion.IdPublicacion">
                <div class="botonPub">
                    <button type="submit">Agregar al Carrito</button>
                </div>
            </form>
        </section>
        @if(ViewBag.ErrorMessage != null)
        {
            <p>@ViewBag.ErrorMessage</p>
        }
        <script asp-src-include="~/js/site.js"></script>
    </main>

</body>
</html>

